<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiffin01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".subscriptionTwoDay"/>
        <activity android:name=".locationActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".loginOtpActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ThirtyDaysPack" />
        <activity android:name=".TwoDaysPack" />
        <activity android:name=".FifteenDaysPack" />
        <activity android:name=".splashActivity" />
        <activity android:name=".loginMobActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>